<div class='container'>
  <div class='row'>
    <div class='col'>
      <center>
        <h1>Thanks for taking a look.</h1>
      </center>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <center>
        <%= link_to 'Back to the dashboard', root_path %>
      </center>
    </div>
  </div>
</div>
